

:root {
    --header-font-family: 'Just Another Hand', sans-serif;
    --body-font-family: 'Just Another Hand', sans-serif;
}

* {
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    padding: 0;
    text-align: center;
}

a {
    font-weight: 500;
    color: purple;
    text-decoration: inherit;
}

a:hover {
    color: purple;
}

body {
    font-family: var(--body-font-family);
    overflow: hidden;
}

main {
    overflow: scroll;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

div#root {
    font-size: 30px;
    min-width: 320px;
    height: 100vh;
    display: flex;
    flex-direction: column;

}

.main-header {
    display: flex;
    padding: 8px;
    width: 100%;
    height: 4rem;
    background-color: #f8f3f6;
    Border-Bottom: 1px solid black;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}


.backdrop-style {
    position: absolute;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    bottom: 0;
    top: 4rem;
}

.ul-menu-profile-style {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: space-around;
    background-color:#f8f3f6;
    gap: 0.5rem;
    padding: 0.5rem;
    align-items: center;
    border-bottom-left-radius: 15px;
}

.nav-menu-profile-style {
    position: absolute;
    right: 0;
    top: 63px;
    border: 1px solid black;
    background-color: #f8f3f6;
    border-bottom-left-radius: 15px;
}

.ul-menu-hamburguesa-style {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: center;
    background-color:#f8f3f6;
}

.nav-menu-hamburguesa-style {
    position: absolute;
    left: 0;
    padding: 1rem;
    top: 63px;
    border: 1px solid black;
    background-color: #f8f3f6;
    border-bottom-right-radius: 15px;
}


.button-logout-style {
    font-size: 25px;
    align-items: center;
}


header > h1 {
    font-family: var(--body-font-family);
    font-size: 55px;
}

.profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid black;
}

header > button {
    border: none;
    background-color: transparent;
    cursor: pointer
}

.hamburguesa-button {
    border: none;
    height: 50px;
    width: 50px;
    padding: 4px;
}



.new-note-form {
    border: none;
    ;
}

::-webkit-scrollbar {
    display: none;
}

footer {
    display: flex;
    background-color: #f8f3f6;
    border-top: 0.3px solid black;
    text-align: center;
    font-size: 1.5rem;
    padding-top: 4px;
    position: fixed;
    height: 2.5rem;
    width: 100%;
    bottom: 0;
    justify-content: center;
    opacity: 1;
}

h2 {
    margin-top: 1.7rem;
    font-size: 2.5rem ;
}

fieldset {
    border: none;
    padding: 0.3rem;
    text-align: center;
}

.new-note-form {
    text-align: start;
}

.label{
    padding: 1rem;
}


.box {
    
    align-self: center;
    border: none !important;
    width: 25rem;
    height: 200rem;
    border: 1px solid black;
    padding: 10px;
    margin: 5rem 0rem 3.5rem
  }


.note-list {
    border: "none"
}

.registration-section {
    width: 100%;
    background-color: rgba(194, 159, 182, 0.12);
    margin: 0;
    padding: 1rem;
    border-radius: 5%;
    margin: 0.2rem;
    box-shadow: 0px 0px 2px 0.2px
}

.login-section {
    width: 100%;
    background-color: rgba(194, 159, 182, 0.12);
    margin: 0;
    padding: 1rem;
    border-radius: 5%;
    margin-top: 5.5rem;
    box-shadow: 0px 0px 2px 0.2px
}

.notes-section {
    width: 100%;
    background-color: rgba(194, 159, 182, 0.12);
    margin: 0;
    padding: 1rem;
    border-radius: 5%;
    margin: 0.2rem;
    box-shadow: 0px 0px 2px 0.2px
}


.style-button {
    margin-top: 1rem;
    padding-left: 5px;
    padding-right: 5px;
}


.delete-button {
    margin-right: 0.7rem;
    padding-left: 5px;
    padding-right: 5px;
}


.edit-button {
    margin-top: 3rem;
    padding-right: 5px;
    padding-left: 5px;
}

.error-message-style {
    color: red;
    font-size: 22px;
    font-style: italic;
}

.header-box-style {
    margin: 0;
    border-bottom: 0.5px solid grey;
    padding-bottom: 0.5rem;
}


.header-box-h2-style {
    font-size: 2rem;
    margin-top: 0.5rem;
}


.header-box-h3-style {
    color: purple;
    margin: 1rem;
}


.note-image-style {
    width: 20rem;
    border-radius: 1rem;
}


.link-note-id {
    margin-top: 1rem;
    margin-bottom: 0;
    font-weight: bolder;
    font-size: 2rem;
}

.note-id-text-style{
    font-size: 1.1rem;
    font-style: italic;
    margin-top: 0.2rem;
    text-align: left;
}

